log_level 4
log_file /var/log/munin/munin-node.log
pid_file /var/run/munin/munin-node.pid

background 1
setsid 1

user root
group root

ignore_file [\#~]$
ignore_file DEADJOE$
ignore_file \.bak$
ignore_file %$
ignore_file \.dpkg-(tmp|new|old|dist)$
ignore_file \.rpm(save|new)$
ignore_file \.pod$

allow ^127\.0\.0\.1$
allow ^::1$

host_name {{ ansible_fqdn }}

{% for host in groups['munin_master'] %}
# Master {{ host }}
allow ^{{ hostvars[host]['ansible_eth0']['ipv4']['address'] | regex_replace('\\.', '\\\\.') }}$
{% endfor %}

host *
port 4949
